<body>
    <header>
        <a href="">WebStudio</a>
        <nav>
            <ul>
                <li><a>Студія</a></li>
                <li><a>Портфоліо</a></li>
                <li><a>Контакти</a></li>
            </ul>
        </nav>
        <ul>
            <li>
                <a href="">info@devstudio.com</a>
            </li>
            <li>
                <a href="">+38 096 111 11 11</a>
            </li>
        </ul>
    </header>
    <main>
        <section>
            <ul>
                <li><button>Усі</button></li>
                <li><button>Веб-сайти</button></li>
                <li><button>Додатки</button></li>
                 <li><button>Дизайн</button></li>
                 <li><button type="">Маркетинг</button></li>
            </ul>
        </section>
        <section>
         <ul>
            <li>
            <a>
                <img src="./images/portfolio/laptop.png">
                <h3>Технокряк</h3>
                <p>Веб-сайт</p>
            </a>
            </li>
            <li>
                <a>
                    <img src="./images/portfolio/poster.png"Постер New Orlean vs Golden Star">
                    <h3>Постер New Orlean vs Golden Star</h3>
                    <p>Дизайн</p>
                </a>
            </li>
            <li>
                <a>
                    <img src="./images/portfolio/seafood.png" alt="Ресторан Seafood">
                    <h3>Ресторан Seafood</h3>
                    <p>Додаток</p>
                </a>
            </li>
            <li>
                <a>
                    <img src="./images/portfolio/prime.png"alt="Проєкт Prime">
                    <h3>Проєкт Prime</h3>
                    <p>Маркетинг</p>
                </a>
            </li>
            <li>
                <a>
                    <img src="./images/portfolio/boxes.png" alt="Проєкт Boxes">
                    <h3>Проєкт Boxes</h3>
                    <p>Додаток</p>
                </a>
            </li>
            <li>
                <a>
                    <img src="./images/portfolio/borders.png"alt="Inspiration has no Borders">
                    <h3>Inspiration has no Borders</h3>
                    <p>Веб-сайт</p>
                </a>
            </li>
            <li>
                <a>
                    <img src="./images/portfolio/edition.png"alt="Видання Limited Edition">
                    <h3>Видання Limited Edition</h3>
                    <p>Дизайн</p>
                </a>
            </li>
            <li>
                <a>
                    <img src="./images/portfolio/lab.png" alt="Проєкт LAB">
                    <h3>Проєкт LAB</h3>
                    <p>Маркетинг</p>
                </a>
            </li>
            <li>
                <a>
                    <img src="./images/portfolio/business.png"alt="Growing Business">
                    <h3>Growing Business</h3>
                    <p>Додаток</p>
                </a>
            </li>
         </ul>
        </section>
        </main>
    <footer>
        <a href="">WebStudio</a>
        <address>
            <ul>
                <li>
                    м. Київ, пр-т Лесі Українки, 26
                </li>
                <li>
                    <a href="mailto:info@devstudio.com">
                        info@devstudio.com
                    </a>
                </li>
                <li>
                    <a href="tel:+380961111111">
                        +38 096 111 11 11
                    </a>
                </li>
            </ul>
        </address>
    </footer>
</body>

</html>