:root {
    --menu-color:#FFFFFF;
    --background:rgb(255, 255, 255);
    --title-color:#212121;
    --section_title-color:#212121;
    --footer-color:#2F303A;
}
:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}